*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(/assests/images/contact-us.jpg);
    height: 120vh;
    /* background-size: cover; */
  

  
  
}
.navbar{
    display: flex;
    /* background-color:white; */
    background: rgba(76, 175, 80, 0.5);
  
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;

  
}
.navbar .logo{
    padding-left: 60px;
    color: white;
    
}
.navbar > .links > ul{
    display: inline;
    padding-top: 10px;
    font-size: 24px;
}
.navbar > .links > ul > li{
    display: inline;
    padding: 10px;
    color: white;
    
}
.navbar > .nav-btn {
  padding: 0px 50px;
}
.navbar > .nav-btn > #btn-1{
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(35, 219, 59);
    color: white;
    font-size: 18px;
}
.navbar > .nav-btn > #btn-2{
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(35, 219, 59);
    color: white;
    font-size: 18px;
}
.header > .txt{
    padding-top: 350px;
    padding-left: 400px;
    font-size: 50px;
    color: white;
}
.find-job > .head-txt{
    font-size: 30px;
    align-items: center;
    padding: 100px 0px 0px 500px;

}
.find-job .cards :hover{
    color: rgba(76, 175, 80, 0.5);
}

.find-job > .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;

}
.find-job > .cards > .card{
    height: 200px;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px;
    align-items: center;
    background-color: grey;
    align-items: center;
   
    /* margin: 30px 0 0 200px; */
}
.find-job > .cards > .card > h1{
    padding-top: 70px;

}
.find-job > .cards > .card > p{
    padding-left: 60px;
    padding-top: 10px;
    font-size: 20px;

}
.attach h1{
    font-size: 40px;
    padding: 50px;
}
.attach img{
    padding-left: 50px;
    
}
.attach > .container{
    display: flex;
}
.attach p{
    font-size: 20px;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    line-height: 60px;

}



.footer{
    height: 500px;
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(255,165,0 , 0.9));
    
    
}
.footer > .footer-head{
    margin: 0;
    padding: 0;
   
}
.footer > .footer-head h1{
    font-size: 30px;
    color: white;
    margin: 100px;
    padding-top: 100px;
    font-weight: 300;
}
.footer > .footer-head span{
    color: #FAFF00;
    
}
.footer > .social > .icon-links {
    margin-left: 100px;
    color: white;
    
   
}
.footer > .social > .icon-links a{
    display: inline-block;
    padding: 15px;
    color: white;
   text-decoration: none;
   font-size: 30px;
}
.footer  .social{
    display: flex;

}
.footer > .social> .heading {
    margin-left: 250px;
    

}
.footer > .social> .heading h1{
    font-size: 18px;
    color: white;
    

}
.footer > .social> .heading li{
    font-size: 18px;
    color: white;

}