.find{
    /* background-color: aquamarine; */
    justify-content: center;
    display:flex;
    padding: 40px;
    font-weight: bold;
}
.find .fin input{
    /* color: red; */
    font-weight: lighter;
    font-size: 25px;
    /* background-color: rgb(248,248,248); */
}
.find .fin{
    font-size: 25px;
    font-weight: lighter;
    background-color: rgb(248,248,248);
}
/* CSS Design for section 1 */
.sect1{
    display: flex;
    justify-content: space-between;
}
.sect1 > .secth{
     width: 50%;
     height: 200;
     padding: 80px;
     /* padding-left: 100px; */
     margin-left: 100px;
     margin: 80px 0px 0px 50px;
     background-color: rgb(248,248,248);
     /* border: 2px solid red;  */
}

.sect1 > .secth >.apply{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* width: 100px;
    height: 50px; */
    /* border: 1px solid green; */
}
.sect1 > .secth >.apply span{
    font-weight: lighter;
    font-size: 24px;
}
.sect1 > .category-1{
    /* width: 300px;
    /* height: 400px; */
     /* padding: 80px;
    margin: 80px; 
    background-color: rgb(230, 240, 237);
    border: 2px solid red; 
    margin-right: 80px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;  */
    width: 400px;
    padding: 80px;
    margin: 80px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */
    margin-right: 50px;

}
/* CSS Design for section 2 */
.sect2{
    display: flex;
    justify-content: space-between;
}
.sect2 > .secth2{
    width: 50%;
    height: 200;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */

}
.sect2 > .secth2 > .apply1,span{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* width: 100px;
    height: 50px; */
    /* border: 1px solid green;   */
    font-weight: lighter;
    font-size: 24px;
    /* color: green; */
}
.sect2 >.category-2{
    width: 400px;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */
    margin-right: 50px;
}
/* Design for section 3 */
.sect3{
    display: flex;
    justify-content: space-between;
}
.sect3 > .secth3{
    width: 50%;
    height: 200;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */

}
.sect3 > .secth3 .apply3,span{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* width: 100px;
    height: 50px; */
    /* border: 1px solid green;   */
}
.sect3 >.category-3{
    width: 400px;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */
    margin-right: 50px;
}
/* Design section 4 */
.sect4{
    display: flex;
    justify-content: space-between;
}
.sect4 > .secth4{
    width: 50%;
    height: 200;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */

}
.sect4 > .secth4 .apply4{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* width: 100px;
    height: 50px; */
    /* border: 1px solid green;   */
    font-weight: bold;
}
.sect4 >.category-4{
    width: 400px;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */
    margin-right: 50px;
}
/* Design Section 5th */
.sect5{
    display: flex;
    justify-content: space-between;
}
.sect5 > .secth5{
    width: 50%;
    height: 200;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */

}
.sect5 > .secth5 .apply5{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* width: 100px;
    height: 50px; */
    /* border: 1px solid green;   */
    font-weight: bold;
    
}
.sect5 >.category-5{
    width: 400px;
    padding: 80px;
    margin: 20px 0px 0px 50px;
    background-color: rgb(248,248,248);
    /* border: 2px solid red;  */
    margin-right: 50px;
}
  /* Inputting second header */
  .content {
    position: absolute;
    /* top: 80px; */
    margin-top: 75px;
    margin-left: 280px;
    /* left: 200; */
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    line-height: 40px;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
  .content__container:before {
    content: "[";
    left: 0;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  /* Start of footer section */
  .footer{
    margin-top: 20px;
    height: 500px;
    background-color: grey;
    background: linear-gradient(50deg, rgba(0,0,0,0.9) 0%, rgba(76, 175, 80, 0.8));
    
    
}
.footer > .footer-head{
    margin: 0;
    padding: 0;
   
}
.footer > .footer-head h1{
    font-size: 30px;
    color: white;
    margin: 100px;
    padding-top: 100px;
    font-weight: 300;
}
.footer > .footer-head span{
    color: #FAFF00;
    
}
.footer > .social > .icon-links {
    margin-left: 100px;
    color: white;
    
   
}

.footer > .social > .icon-links a{
    display: inline-block;
    padding: 15px;
    color: white;
   text-decoration: none;
   font-size: 30px;
   
}
.footer  .social{
    display: flex;

}
.footer > .social> .heading {
    margin-left: 250px;
    

}
.footer > .social> .heading h1{
    font-size: 18px;
    color: white;
    

}
.footer > .social> .heading li{
    font-size: 18px;
    color: white;

}